services:
  redis:
    image: "redis"
    container_name: "pulse-redis"
    command: redis-server --save "" --loglevel warning --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT:-6379}:6379"
